<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="google-site-verification" content="Lw-JRcJ9jX_vjJzv2CEG5vPr8HBFLr3oNU4SBgPtdUw" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <!-- <h1><a href="{{ "/" | absolute_url }}">BugNIST</a></h1> -->
        <img src="/bugnist/images/logo_bugnist.png" alt="Logo" />
        <p>Webpage for the BugNIST dataset</p>
        <p class="view"><a href="https://www.kaggle.com/competitions/bugnist2024fgvc">View our competition on Kaggle<small>Kaggle/bugnist</small></a></p>
          
        <ul class="downloads">
            <li><a href="https://archive.compute.dtu.dk/files/public/projects/BugNIST3D/zips">Download <strong>dataset</strong></a></li>
            <li><a href="https://arxiv.org/pdf/2304.01838.pdf">Get ECCV 2024<strong>paper</strong></a></li>
          <li><a href="https://github.com/abdahl/bugnist/tree/main">Code on <strong>GitHub</strong></a></li>
        </ul>
        
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        <p>Page is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a> and <a href="https://qim.dk/">QIM</a> team.</p>
        <p><small>Hosted on GitHub Pages &mdash; View <a href="{{ site.github.repository_url }}">page on GitHub</a>.</small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>